.guidelineArrowHorizontal {
    display: block;
}

.guidelineArrowVertical {
    display: none;
}

@media screen and (max-width: 1199px) {
    .guidelineArrowHorizontal {
        display: none;
    }
    
    .guidelineArrowVertical {
        display: flex;
    }
}
